<p>
  Home Works!
</p>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-50" height="380" src="https://vetstreet.brightspotcdn.com/dims4/default/dc79fda/2147483647/crop/0x0%2B0%2B0/resize/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2Fe3%2Fe1f7609e8911e0a2380050568d634f%2Ffile%2FDoberman-3-645mk062111.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-50" height="380" src="https://vetstreet-brightspot.s3.amazonaws.com/5e/7e/5bab5ea442c0a153df88e4062a1f/doberman-pinscher-ap-0uoxil-645-x-380.jpg" alt="Second slide">
    </div>
  </div>
</div>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
